/node_modules
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/git_toolbox_prj.xml
/.idea/vcs.xml
/.idea/laravel-query-settings.xml
/.idea/misc.xml
/.idea/php.xml
.idea/php.xml
/.idea/symfony2.xml
